<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Detail Project</title>
    <link rel="stylesheet" href="/assets/css/project-style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  </head>
  <body style="background-color: rgb(227, 231, 235)">
    <nav class="navbar px-5 navbar-expand-lg" style="background-color: rgb(244, 243, 243)">
      <div class="container-fluid gap-5">
        <a class="navbar-brand" href="#"><img src="/assets/img/dumbways-id-tangerang-logos-idycziPVBN-removebg-preview.png" alt="logo" style="height: 50px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active home-btn" aria-current="page" href="/home"><button class="btn btn-light">Home</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active project-btn" aria-current="page" href="/project-page"><button class="btn btn-light">Add Project</button></a>
            </li>
          </ul>
          <div class="right">
            <a href="/register"><button class="btn btn-light">Register</button></a>
            <a class="mx-5" href="/login"><button class="btn btn-light">Login</button></a>
            <a href="/contact-page"><button class="btn btn-dark">Contact Me</button></a>
          </div>
        </div>
      </div>
    </nav>

    <div class="content m-5 d-flex row">
      <h1 class="text-center col">{{data.title}}</h1>
      <div class="all-content">
        <div class="second-content d-flex m-5">
          <div class="left-content row px-5"><img src="/assets/img/technology.jpg" style="height: 300px" alt="" /></div>
          <div class="right-content row d-flex">
            <div class="duration">
              <h4>Duration</h4>
              <div class="duration-content d-flex col">
                <img src="/assets/img/calendar.png" style="height: 30px" alt="" />
                <span class="px-3 fw-bold">{{this.start_date}} - {{this.end_date}}</span>
              </div>
              <div class="calendar-content pt-3">
                <img src="/assets/img/back-in-time.png" style="height: 30px" alt="" />
                <span class="px-3 fw-bold"> 1 month</span>
              </div>
              <h4 class="pt-4">Techonolgies</h4>
              <div class="duration-content d-flex row pb-3">
                <div class="col"><img src="/assets/img 3/library.png" style="height: 30px" alt="" /><span>React Js</span></div>
                <div class="col-9"><img src="/assets/img 3/nextjs.256x256.png" class="nodejs" style="height: 30px" alt="" /><span>Next Js</span></div>
                <div class="col"><img src="/assets/img 3/nodejs.png" style="height: 30px" alt="" /><span>Node Js</span></div>
                <div class="col-9"><img src="/assets/img 3/nodejs.png" style="height: 30px" alt="" /><span>Node Js</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-content">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, modi alias enim beatae earum consequatur ut veniam harum labore obcaecati incidunt, minus, nihil ratione reiciendis ad accusamus ipsum commodi illo! Ipsam dolores
            sunt, voluptates quidem, rerum optio minus perferendis beatae veritatis excepturi, rem iste maxime ipsum est! Necessitatibus esse provident tempore nam perferendis dolorum, reiciendis ratione, voluptatum quo iure suscipit!
            Consequuntur aspernatur quia dolore dolor, blanditiis iure maxime vitae expedita enim ipsam, nihil, quas voluptas? Harum aperiam aut facilis minima odio amet debitis, expedita eveniet iste sit natus porro delectus! Delectus
            alias provident reiciendis veritatis, ut aspernatur praesentium nostrum? Sed omnis tenetur delectus rem pariatur, incidunt animi, deleniti deserunt quas facilis sunt nostrum aut. Sunt ipsum rerum aut magni fuga. Vero a minus
            quasi, labore blanditiis cupiditate maxime repellat, beatae doloremque nesciunt maiores illum nemo sit modi harum quaerat voluptate, quod qui! Ipsum qui neque itaque iure aut maxime. Magnam. Dignissimos, tempore aut ut id
            laudantium, vero deserunt maxime aliquam dolore corrupti recusandae temporibus alias blanditiis libero sapiente mollitia harum quas. Obcaecati, facilis iusto aut exercitationem nemo voluptate pariatur ut? Repellendus odio veniam
            nihil quo laboriosam blanditiis, vel necessitatibus non rem! Vel unde similique in repudiandae libero saepe recusandae iste, sint enim ullam hic! Mollitia quam autem ad eum vitae. Necessitatibus dolores repellat magnam quibusdam
            deleniti ad velit eum asperiores, labore hic commodi, voluptas tenetur distinctio sequi. A ut tempore officia quia doloremque et error, eum ducimus reprehenderit aut hic. Dignissimos fugiat quo voluptatibus amet, perspiciatis
            magni suscipit fuga rem vero nam facere quae deserunt accusamus sit ea ut explicabo. Libero consequuntur, odio recusandae eum voluptate perspiciatis animi illo necessitatibus. Tempore voluptates expedita necessitatibus quibusdam
            laboriosam deserunt veritatis placeat in? Aspernatur quos amet consequuntur et aut accusamus perspiciatis voluptatibus non. Facere, error! Perferendis reprehenderit minima expedita facilis repudiandae eveniet obcaecati?
          </p>
        </div>
      </div>
    </div>

    <script src="/assets/js/blog.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>